<h1>My Decks</h1>
<!--displays all the users decklists in a column with relevant information-->
<div class="container deck-index">
    <%@decklists.each do |decklist|%>
        <%if decklist.user_id == @current_user.id%>
            <div class="card" style="width: 25rem;">
                <%= cl_image_tag decklist.cover, :class => 'cover-art' if decklist.cover.present? %>
                <div class="card-body">
                    <h5 class="card-title"><%=decklist.name%></h5>
                    <p class="card-text"><%=decklist.description%></p>
                    <%=link_to "Go To Deck", decklist, :class =>"btn btn-primary" %>
                </div>
            </div>
        <%end%>
    <% end %>
</div>


