
.individual-post-container img {
    max-height: 400px;
    width:auto;
    padding: 20px 100px;
}

.video{
    max-width: 500px;
    min-height: 300px;
}
.individual-post-container {
    max-width: 800px;
    background: rgba(255,255,255,0.8);
    margin: 48px auto;
    text-align: center;
    border-radius:1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 24px;
    padding-top: 24px;
}
h1{
    text-align: center;
}
.new-post{
    width: 20%;
    margin: 0 auto;
}
.alert{
    text-align: center;
}
.time{
    color: #858585;
}
