html, body {
height: 100%;
}
body{
    
    background: url('background2.jpg') no-repeat center center fixed; 
    background-size: cover;
}
.wrapper{
    margin: 80px;
}
.form-signin{
    max-width: 380px;
    margin: 0 auto;
    background-color: #fff;
    padding: 15px 40px 50px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}
.form-signin .form-signin-heading, .form-signin{
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-signin .form-control{
    padding: 10px;
}
.entry-btn{
    margin-top: 10px;
}
.sr-only{
    margin-top: 10px;
}
.card{
    background: rgba(255,255,245,0.85);
    
}